- if resource.errors.any?
  #error_explanation
    - resource.errors.full_messages.each do |message|
      = render partial: 'devise/shared/desktop_error', locals: { message: message, color: 'red' }

- flash.each do |name, msg|
  - if name == 'success'
    - color = 'green'
    - title = 'Éxito'
  - elsif name == 'alert'
    - color = 'red'
    - title = 'Error'
  - else
    - color = 'orange'
    - title = 'Aviso'
  #error_explanation
    - if msg.class == Array
      - msg.each do |message|
        = render partial: 'devise/shared/desktop_error', locals: { message: message, color: color, title: title }
    - else
      = render partial: 'devise/shared/desktop_error', locals: { message: msg, color: color, title: title }
