%h1.text-center.text-5xl.mt-24 Publicaciones
= render partial: "devise/shared/error_messages", locals: { resource: current_user }
.text-gray-900.bg-gray-200.my-8.rounded
  .px-3.py-4.flex.justify-center
    %table.w-full.text-md.bg-white.shadow-md.rounded.mb-4
      %tbody
        %tr.border-b
          %th.text-center.text-xl.p-3.px-5 Contenido
          %th.text-left.text-xl.p-3.px-5 Imagen
          %th.text-center.text-xl.p-3.px-5 Id
          %th.text-xl.p-3.px-5.text-right Opciones
        - @posts.each_with_index do |post, index|
          - color = 'bg-gray-100' if index.modulo(2) === 0
          %tr.border-b.hover:bg-orange-100{class: "#{color}", id: "post_#{post.id}"}
            = render post
