%h1.text-center.text-5xl.mt-24 Publicaciones
.my-8.flex.text-center{class:'w-full'}
  %div.ml-8{class: 'w-5/12'} Contenido
  %div{class: 'w-3/12'} Imagen
  %div{class: 'w-1/4'} Opciones
- @posts.each_with_index do |post, index|
  - if index % 2 == 0
    .border-2.border-black.flex.content-center.flex-wrap.h-40.bg-gray-200{class:'w-full'}
      = render post
  - else
    .flex.content-center.flex-wrap.h-40.bg-gray-400{class:'w-full'}
      = render post
%br/
= link_to 'New Post', new_post_path
