@tailwind base;
@tailwind components;
@tailwind utilities;

.facebook-color {
  background-color: #4267B2;
}

.container-fluid {
  width: 100%;
  padding-right: 35px;
  padding-left: 35px;
  margin-right: auto;
  margin-left: auto;
}
